<!--  unfortunately, Logback does not support schema or DTD. But in case of configuration failure, error messages would be shown.-->
<configuration debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %5level %36logger{40}:%-3line - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>exporter.log</file>
		<encoder>
<!--			<pattern>%date %-5level %-35logger{10}:%-3line %msg%n</pattern>-->
			<pattern>%date %5level %35C{35}:%-3line %msg%n</pattern>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>exporter.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 1 days' worth of history -->
			<maxHistory>1</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 15MB -->
				<maxFileSize>15MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger name="org.springframework.jdbc" level="INFO"/>
	<logger name="org.springframework.batch" level="INFO"/>
	<logger name="org.springframework.transaction" level="INFO"/>
	<logger name="java.sql" level="DEBUG"/>
	<logger name="java.sql.ResultSet" level="DEBUG"/>
	<logger name="org.apache.ibatis" level="DEBUG"/>
	<logger name="org.mybatis" level="DEBUG"/>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
<!--		<appender-ref ref="FILE" />-->
	</root>
</configuration>